/*-- 1. VARIABLES --*/

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-dark: #333333;
    --base-color: #C1932D;
    --theme-font: 'Poppins', sans-serif;
    --light-bg: #f3f3f3;
}