@charset "UTF-8";

/* ===================== Table Content Start ======================= 

Project Name 	:  Classic Cars
File 			:  CSS Base
Version 		:  1.0.0
Created     	:  22/11/2022
Author 			:  Pentagon Information Technology

======================== Table Content End ===================== */

@import 'fonts';
@import 'variables';
@import 'mixin';
@import 'breakpoints';
@import 'reset';
@import 'header';
@import 'home-slider';
@import 'footer';
@import 'style';